// Colors
$dark-gray: rgb(46 36 47 / 70%);
$light-black: rgb(0 0 0 / 85%);
$white: #fff;
$black: #000;
$btn-gray: #434343;
$jordy-blue: #7b9ee0;
$main-h-color: #2e242f;
$main-p-color: #2e242fb3;
$companies-bck-color: #f9f8fa;
$section-bdr-color: #dcdcdc;
$indicator-bck: #fafafa;
$menu-bck-color: #e5eeff;

// Padding
$vertical-padding: 60px;

// Z-Index
$section-z-index: -2;

// Letter-Spacing
$h-letter-space: -1.6px;

// Border
$bdr-radius: 3px;
$section-bdr-width: 0.4px;
